<a href="https://colab.research.google.com/github/CynthiaKaruga/git_practice/blob/main/Copy_of_Starter_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
# To import data from CSV files
# We first import the pandas library
import pandas as pd

In [ ]:
# Loading our table from the respective CSV files 
pop = pd.read_csv('Population_by_state.csv', index_col=0, encoding='utf-8')

# saving the  Population_by_state CSV file into a database
%sql DROP TABLE if EXISTS   pop;
%sql PERSIST   pop;

# Displaying the first  5 entries 
%sql SELECT * FROM   pop LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

In [ ]:
# Loading our table from the respective CSV files 
votes = pd.read_csv('GrandElectors_by_state.csv', index_col=0, encoding='utf-8')
# saving the GrandElectors_by_state CSV file into a database
%sql DROP TABLE if EXISTS     votes;
%sql PERSIST     votes ;

# Displaying the first  5 entries 
%sql SELECT * FROM     votes  LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [ ]:
# Since State in both tables are not in the same case
# Convert the State in GrandElectors_by_state dataset to Upper case to change the values of State column to 
%sql DROP TABLE if EXISTS     votes;
%sql PERSIST     votes ;
%sql SELECT Upper(State) as State, GrandElectors FROM     votes LIMIT 5 ;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55)]

In [ ]:
#  Join the two datasets to since both have 'State' as key column 
%sql DROP TABLE if EXISTS   pop ;
%sql PERSIST   pop ;
%sql DROP TABLE if EXISTS     votes ;
%sql PERSIST     votes  ;
%sql SELECT C.state, D.population, C.GrandElectors FROM votes C INNER JOIN pop D on D.state = C.state LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[]

In [ ]:
# Change the name of "District of Columbia" state to its short version "DC"
%sql DROP TABLE if EXISTS     votes;
%sql PERSIST     votes ;
%sql SELECT (Case when state like '%District of Columbia%' then 'DC' else state end) as state, Grandelectors FROM  votes LIMIT 20;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55),
 ('Colorado', 9),
 ('Connecticut', 7),
 ('DC', 3),
 ('Delaware', 3),
 ('Florida', 29),
 ('Georgia', 16),
 ('Hawaii', 4),
 ('Idaho', 4),
 ('Illinois', 20),
 ('Indiana', 11),
 ('Iowa', 6),
 ('Kansas', 6),
 ('Kentucky', 8),
 ('Louisiana', 8),
 ('Maine', 4)]

In [ ]:
# Confirm that this change has been effected as below;
%sql DROP TABLE if EXISTS     votes;
%sql PERSIST     votes ;
%sql SELECT (Case when state like '%District of Columbia%' then 'DC' else state end) as state, Grandelectors FROM  votes where state like '%DC%' ;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[]

In [ ]:
# Since the presidential candidate who receives most local votes wins the ALL the GrandElectors,
# As the Grand Electors are (roughly,not exactly but proportional to the size of the state)
# Determine the top 10 States that have the highest population 
%sql DROP TABLE if EXISTS   pop;
%sql PERSIST   pop;
%sql SELECT * FROM pop ORDER BY Population desc limit 10;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995),
 ('PENNSYLVANIA', 12802503),
 ('OHIO', 11613423),
 ('GEORGIA', 10214860),
 ('NORTH CAROLINA', 10042802),
 ('MICHIGAN', 9922576)]

In [ ]:
# Since the presidential candidate who receives most local votes wins the ALL the GrandElectors,
# As the Grand Electors are (roughly,not exactly but proportional to the size of the state)
# Determine the top 10 States that have the highest GrandElectors;
%sql DROP TABLE if EXISTS     votes;
%sql PERSIST     votes ;
%sql SELECT * FROM votes ORDER BY GrandElectors desc limit 10;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('California', 55),
 ('Texas', 38),
 ('Florida', 29),
 ('New York', 29),
 ('Illinois', 20),
 ('Pennsylvania', 20),
 ('Ohio', 18),
 ('Georgia', 16),
 ('Michigan', 16),
 ('North Carolina', 15)]

In [ ]:
#From the listing above we have established that the cities that have highest population also have
#high number of grand electors in the same order
#Get the sum of Population with the highest number of GrandElectors to focus on we will implement the following;

In [ ]:
#To compute the ratio between the number of grand electors and the population
#Divide Population by the number of grand electors and create a column "votespercapita"

In [ ]:
# To make our priority list
# Order states by decreasing 'Ratiopercapita'

In [ ]:
#Calculate sum of grand electors are >50%